@import url('http://fonts.cdnfonts.com/css/minecraft-4');


html{
    font-family: 'Minecraft', sans-serif;
}


.main_content{
    padding-bottom: 6rem;
}

body{
    color: rgb(64, 143, 235);
    margin: 0px;
    background-color:#c37070;
    
    position: relative;
    min-height: 100vh;

    background-image: url("../img/Book_PNG2116.png");
    background-repeat: no-repeat;
    background-size: auto;
 
    background-position-x: center;
}

form{
    border-style: solid;
    border-color: rgb(97, 15, 15);
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    
    border-radius: 30px;
}

.title{
    color: rgb(97, 15, 15);
    text-shadow: 2px 0 0 white, -2px 0 0 white, 0px 2px 0 white, 0px -2px 0 white;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    font-size: xx-large;
    letter-spacing: 4px;
    text-align: center;
}

.title > *{
    text-align: center;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .title > h1{
        font-size:larger;
        text-align: start;
        margin-top: 20px;
    }    
    
    .title > h4{
        text-align: start;
    }    
}

.submit{
    position: relative;
    right: 25%;
    left: 25%;
    margin-bottom: 5px;
    margin-top: 5px;
    letter-spacing: 3px;

    color: white;
    width: 50%;
    background-color: rgb(97, 15, 15);
    border:none;

    border-radius: 10px;
    border-width: 2px;

    padding-bottom: 10px;
    padding-top: 5px;
    
}

.submit:hover{
    letter-spacing: 5px;
    font-size: large;
    border-width: 5px;
    background-color: white;
    color: rgb(97,15,15);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(97, 15, 15);
    font-weight: bolder;
}


.IN{
    position: relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;

    margin-top: 20px;
}

input{
    font-family: 'Minecraft', sans-serif;

    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 30px;
    width: 60%;

}

.names, .pwmail{
    position: relative;
    float: left;
    width: 60%;
    margin-top: 5%;
    
}

.names > input, .pwmail > input{
    width: 100%;
}

.logos{
    width: 35%;
    float: right;
}

.book1{
    position: absolute;
    z-index: -1;
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    top: 5%;
    
}
