form{
    background-color: beige;
    padding: 20px;
}

.colors{
    display: block;
    text-align: center;
}

#c1, #c2{
    height: 130px;
}

input{
    margin-right: auto;
    margin-left: auto;

    width: 30%;
}